/* --All fonst skall vara i googles font "Open Sans" */
/* Responsiv mobil, surfplatta m.m. */
/* Animation vid slumpning av brickor */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.board{
    border: 3px solid red;
    width: 70vmin;
    height: 70vmin;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.board_row{
    display: table-row;
}
.brick{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    min-width: 5vmin;
    min-height: 5vmin;
    font-weight: 800;
    font-size: 6vmin;
}
.no_brick{
    display: table-cell;
    background: burlywood;
}