/* --All fonst skall vara i googles font "Open Sans" */
/* Responsiv mobil, surfplatta m.m. */
/* Animation vid slumpning av brickor */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.board{
    border: 3px solid red;
    background-color: burlywood;
    width: 70vmin;
    height: 70vmin;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.board_row{
    display: table-row;
}
.brick,.move_left,.move_right,.move_up,.move_down{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    min-width: 5vmin;
    min-height: 5vmin;
    font-weight: 800;
    font-size: 6vmin;
    background-color: blanchedalmond;
}
.no_brick{
    display: table-cell;
}

.move_left{
    animation: animation_left 0.3s ease-out;
}
.move_right{
    animation: animation_right 0.3s ease-out;
}
.move_up{
    animation: animation_up 0.3s ease-out;
}
.move_down{
    animation: animation_down 0.3s ease-out;
}

@keyframes animation_left{
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}
@keyframes animation_right{
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}
@keyframes animation_up{
    from {transform: translateY(100%);}
    to {transform: translateX(0%);}
}
@keyframes animation_down{
    from {transform: translateY(-100%);}
    to {transform: translateX(0%);}
}